#main-nav {
  background-color: #4daf51;
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

#main-nav-heading, h3, p {
  color: #fefffe;
}

button.navbar-toggle.collapsed > span.icon-bar {
  background-color: #fefffe;
}

#collapsed-menu {
  padding: 0px;
}

.list-group {
  margin-bottom: 0px;
}

h1 {
  color: #212121;
}

#our-menu-heading {
  margin-bottom: 50px;
}

section {
  background-color: #398e3d;
  border: 1px solid #000000;
}

a:hover {
  text-decoration: none;
}
